<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>vue.js</title>

  <link rel="stylesheet" href="dist/reset.css">
  <link rel="stylesheet" href="dist/reveal.css">
  <link rel="stylesheet" href="dist/theme/black.css" id="theme">

  <!-- Theme used for syntax highlighted code -->
  <link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
  <link rel="stylesheet" href="vue.css">

</head>
<body>
<div class="reveal">
  <div class="slides">

    <section>
      <h1>Módulo Vue.js</h1>
      <br>
      <h3>HACK A BOSS</h3>
      <br><br><br>
      <p>
        Daniel Gayoso González - <a href="mailto:daniel@lapisoft.es">daniel@lapisoft.es</a>
        - <a href="http://lapisoft.es/">Lapisoft</a>
        - <a href="https://www.linkedin.com/in/danigayosog">Linkedin</a>
      </p>
    </section>

    <section>
      <h3>¿Qué es Vue?</h3>

      <p>
        Vue es un framework open source creado por Evan You para construír interfaces de usuario en javascript
      </p>

      <p class="fragment">
        Vue nos permite renderizar de una manera declarativa al html por el medio de plantillas
      </p>

      <p class="fragment">
        Permite un arquitectura incremental: es posible integrarlo en proyectos ya existentes o crear Single Page
        Aplications (SPA) desde cero
      </p>

      <p class="fragment">
        Página principal <a target="_blank" href="https://vuejs.org/">https://vuejs.org/</a>
      </p>
    </section>

    <section>
      <h3>Instalación</h3>

      <p>
        Existen varias formas de instalar/utilizar Vue
      </p>
      <ul>
        <li class="fragment">
          <a target="_blank" href="https://vuejs.org/v2/guide/installation.html#Direct-lt-script-gt-Include">
            Inclusión de script en html
          </a>
        </li>
        <li class="fragment">
          <a target="_blank" href="https://vuejs.org/v2/guide/installation.html#NPM">
            Inclusión en proyecto con npm
          </a>
        </li>
        <li class="fragment">
          <a target="_blank" href="https://vuejs.org/v2/guide/installation.html#CLI">
            Cliente oficial proporcionado por Vue
          </a>
        </li>
      </ul>
    </section>

    <section>
      <h3>Instalación</h3>

      <p>
        Cliente oficial proporcionado por Vue
      </p>

      <pre class="bash"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        npm install -g @vue/cli
        vue create hello-world
      </script></code></pre>

      <img class="fragment" src="images/vue_new_project.png" alt="">

    </section>

    <section>
      <h3>El objeto Vue</h3>
      <p>Toda aplicación en Vue empieza por crear una instancia del objecto Vue</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="app">
          {{ message }}
        </div>
      </script></code></pre>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue!'
          }
        })
      </script></code></pre>
    </section>

    <section>
      <h3>El objeto Vue</h3>

      <p>
        Dentro del objeto Vue lo mas importante son los datos que contiene y las acciones que se podrán realizar sobre
        estos.
      </p>

      <p>Para ello el objeto tiene (entre otras) las siguientes propiedades:</p>
      <ul>
        <li>Data</li>
        <li>Methods</li>
        <li>Computed</li>
        <li>Watch</li>
      </ul>
    </section>

    <section>
      <h3>Interpolación y sintaxis de las plantillas</h3>

      <p>
        Vue usa un sistema de plantillas en el que, a través de interpolación, se podrán mostrar los datos del objeto
        vue en el html.
      </p>
      <div class="fragment">
        <p>La interpolación se realiza mediante la sintaxis <code class="inline-code">{{ variable }}</code>,
          donde variable puede ser:</p>
        <ul>
          <li>Texto</li>
          <li>Expresiones de javascript</li>
        </ul>
      </div>
    </section>

    <section>
      <h3>Interpolación</h3>

      <pre class="html"><code data-trim data-line-numbers="1|3,5,7|9-11"><script type="text/template">
        <span>Mensaje: {{ message }}</span>

        {{ number + 1 }}

        {{ ok ? 'YES' : 'NO' }}

        {{ message.split('').reverse().join('') }}

        <!-- Se puede hacer interpolación directa en los atributos
        de los elementos de html (mas adelante veremos v-bind) -->
        <div v-bind:id="'list-' + id"></div>
      </script></code></pre>
    </section>

    <section>
      <h3>Directivas</h3>

      <p>Atributos especiales de Vue precedidos de <code class="inline-code">v-</code>.</p>

      <p>Listado de directivas más importantes:</p>
      <ul>
        <li class="fragment">Estructurales
          <ul>
            <li>V-if, v-else, v-else-if</li>
            <li>v-show</li>
            <li>v-for</li>
          </ul>
        </li>
        <li class="fragment">Comportamiento
          <ul>
            <li>v-bind (a partir de ahora :)</li>
            <li>v-on (a partir de ahora @)</li>
            <li>v-model</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Directivas: v-if</h3>

      <pre class="html"><code data-trim data-line-numbers="1-2|4-7|9-11|1-11"><script type="text/template">
        // Aparecerá en el html
        <p v-if="seen">Ahora me ves</p>

        <p v-if="seen">Ahora me ves 2</p> // Aparecerá en el html
        <p v-else>Ahora me ves a mi!</p> // No aparecerá en el html

        // En este caso aparecerá en el html, pero oculto
        <p v-show="seen">Ahora me ves</p>
        <p v-show="!seen">Ahora no me ves</p>
      </script></code></pre>
    </section>

    <section>
      <section>
        <h3>Directivas: v-for</h3>

        <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          <ul id="lista">
            <li v-for="item in items" :key="item.message">
              {{ item.message }}
            </li>
          </ul>
        </script></code></pre>

        <pre class="javascript"><code data-trim data-line-numbers><script type="text/template">
          var example1 = new Vue({
            el: '#lista',
            data: {
              items: [
                { message: 'Hola' },
                { message: 'Caracola' },
              ]
            }
          })
        </script></code></pre>
        <pre class="html"><code data-trim data-line-numbers=""><script type="text/template">
          <ul id="lista">
            <li>Hola</li>
            <li>Caracola</li>
          </ul>
        </script></code></pre>
      </section>

      <section>
        <h3>Directivas: v-for</h3>

        <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          <ul id="lista">
            <li v-for="(item, index) in items" :key="item.message">
              {{ index }}. {{ item.message }}
            </li>
          </ul>
        </script></code></pre>

        <pre class="javascript"><code data-trim data-line-numbers><script type="text/template">
          var example1 = new Vue({
            el: '#lista',
            data: {
              items: [
                { message: 'Hola' },
                { message: 'Caracola' },
              ]
            }
          })
        </script></code></pre>

        <pre class="html"><code data-trim data-line-numbers=""><script type="text/template">
          <ul id="lista">
            <li>0. Hola</li>
            <li>1. Caracola</li>
          </ul>
        </script></code></pre>
      </section>
    </section>

    <section>
      <h3>Directivas v-for</h3>
      <h4>¡Importante!</h4>
      <ul>
        <li>
          No mezclar <code class="inline-code">v-for</code> y <code class="inline-code">v-if</code> en el mismo
          elemento!
        </li>
        <li class="fragment">
          <code class="inline-code">v-for</code> necesita una clave (key) para cada elemento del array
          (normalmente el id del objeto que contiene).
          Este elemento debe ser un tipo de dato simple: String o Number.
        </li>
        <li class="fragment">
          En caso de necesitar <code class="inline-code">v-if</code> y <code class="inline-code">v-for</code>,
          encapsular el <code class="inline-code">v-for</code> en un <code class="inline-code">div</code> y usar
          <code class="inline-code">v-if</code> en ese div.
        </li>
      </ul>
    </section>

    <section>
      <h3>Directivas: “:” o v-bind</h3>
      <p>
        Esta directiva se usa para relacionar atributos de los elementos html con los datos del objeto Vue.
        Esta directiva enlaza un dato que está en el objeto de Vue con un atributo en html.
      </p>
      <p>
        Mediante esta característica se puede crear un enlace que hace referencia a
        un dato (url) del objeto de  Vue, cuando este cambie, el atributo cambiará también.
      </p>

      <pre class="html"><code data-trim data-line-numbers=""><script type="text/template">
        <a v-bind:href="url"> ... </a> o <a :href="url"> ... </a>
      </script></code></pre>
    </section>

    <section>
      <h3>Directivas: "@" o v-on</h3>

      <p>Con esta directiva se permite reaccionar a los eventos que el html envía o que otros componentes envían.
        Para manejar este evento podremos usar expresiones javascript (por ejemplo modificar una variable) o ejecutar
        métodos del objeto de Vue (si los tiene).</p>

      <p>Esta directiva se puede enlazar con un dato o evento emitido por el html con un dato del objeto de Vue. Es una
        manera de comunicar los datos que se encuentran en el html con el objeto Vue.</p>
    </section>

    <section>
      <h3>Directivas: "@" o v-on</h3>
      <p>
        Con el siguiente ejemplo reaccionamos ante un click (emitido por el html cuando un usuario pulsa en una
        elemento button) y en este caso hacemos que un contador aumente por cada click.
      </p>

      <p>Instancia</p>
      <pre class="javascript"><code data-trim data-line-numbers=""><script type="text/template">
        var example = new Vue({
          el: '#example',
          data: {
            counter: 0
          }
        })
      </script></code></pre>

      <p>Plantilla</p>
      <pre class="html"><code data-trim data-line-numbers=""><script type="text/template">
        <button v-on:click="counter += 1">Add 1</button>
        <!-- o -->
        <button @click="counter += 1">Add 1</button>
      </script></code></pre>
    </section>

    <section>
      <h3>Directivas: v-model</h3>

      <p>
        Esta directiva establece una relación entre un dato que está almacenado en el objeto Vue con un dato que se
        encuentra en el html.
      </p>

      <p class="fragment">
        A diferencia de <code class="inline-code">v-on</code> y <code class="inline-code">v-bind</code> esta directiva
        establece una relación en los 2 sentidos, esto es, cuando un usuario modifique un valor en el html este se
        actualizará en el objeto de Vue. Además, si un dato es modificado
        dentro del objeto Vue el dato mostrado en html se actualiza también.
      </p>

      <p class="fragment">
        Esta directiva se suele utilizar con elementos html con los que el usuario puede interactuar y editar como el
        elemento <code class="inline-code">&lt;input&gt;</code> (puede ser de tipo texto, checkbox …) o
        <code class="inline-code">&lt;select&gt;</code>.
      </p>
    </section>

    <section>
      <h3>Directivas: v-model</h3>

      <p>
        El dato interno <code class="inline-code">message</code> será modificado automáticamente cada vez que el usuario
        modifique el elemento
        <code class="inline-code">&lt;input&gt;</code>, además se actualizará en el párrafo.
      </p>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue!'
          }
        })
      </script></code></pre>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="app">
          <p>{{ message }}</p>
          <input v-model="message">
        </div>
      </script></code></pre>
    </section>

    <section>
      <h3>Directivas: v-model, modificadores</h3>

      <p>
        Algunas directivas en Vue admiten modificadores que permiten alterar los valores cuando estos cambian por
        algún motivo. La sintaxis es <code class="inline-code">v-directiva.modificador</code> . En concreto la directiva
        <code class="inline-code">v-model</code> permite los
        siguientes modificadores que son interesantes:
      </p>
      <ul>
        <li class="fragment">
          .number: Este modificador convierte el tipo de dato que viene del elemento input de texto a Number
          (normalmente de los inputs siempre se reciben los parámetros como tipo texto).
          <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
              <input v-model.number="age" type="number">
          </script></code></pre>
        </li>
        <li class="fragment">
          trim: Este modificador elimina los espacios al principio y al final del texto que el usuario ha introducido.
          <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
            <input v-model.trim="msg">
          </script></code></pre>
        </li>
      </ul>
    </section>

    <section>
      <h3>Métodos</h3>
      <p>Los métodos permiten ejecutar lógica dentro de un objeto Vue</p>
      <p class="fragment">Tienen acceso a los datos internos del componente.</p>
      <p class="fragment">
        Estos métodos están disponibles para usar en la lógica interna de los componentes, en reacción a algún evento
        (<code class="inline-code">v-bind</code>), o en la interpolación de las plantillas.
      </p>
    </section>

    <section>
      <h3>Métodos: ejemplo</h3>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue.js!'
          },
          methods: {
            reverseMessage: function () {
              this.message = this.message.split('').reverse().join('')
            }
          }
        })
      </script></code></pre>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="app">
          <p>{{ message }}</p>
          <button v-on:click="reverseMessage">
            Reverse Message
          </button>
        </div>
      </script></code></pre>
    </section>

    <section>
      <h3>Métodos: ejemplo 2</h3>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers="|7-13 "><script type="text/template">
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue.js!'
          },
          methods: {
            buy: function () {
              // petición a servidor externo
              axios.post('/buy/', {
                product: 'Té verde',
                quantity: 5,
              })
            }
          }
        })
      </script></code></pre>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="app">
          <button v-on:click="buy">
            Comprar
          </button>
        </div>
      </script></code></pre>
    </section>

    <section>
      <h3>Propiedades computadas</h3>

      <p>Las propiedades computadas permiten transformar un dato antes de usarlo en la interpolación o dentro del objeto
        de Vue</p>

      <p class="fragment">Las propiedades computadas se comportan como un dato para el objeto de Vue. Se generan a
        partir de los datos
        internos del mismo.</p>

      <p class="fragment">No reciben parámetros.</p>

      <p class="fragment">A diferencia de los métodos el código definido dentro de las propiedades solo se ejecuta si
        cambia algún dato interno al que se le haga referencia. Por lo tanto, si ningún dato interno ha cambiado, cada
        vez que se accede a este parámetro no se vuelve a calcular (queda cacheado).
      </p>
    </section>

    <section>
      <section>
        <h3>Propiedades computadas: ejemplo</h3>
        <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          var vm = new Vue({
            el: '#example',
            data: {
              firstName: 'Alejandro',
              lastName: 'García López',
            },
            computed: {
              fullName() {
                return this.firstName + ' ' + this.lastName;
              }
            }
          })
        </script></code></pre>
        <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          <div id="example">
            <p>Nombre: {{ firstName}}</p>
            <p>Apellidos: {{ lastName}}</p>
            <p>Nombre completo: {{ fullName }}</p>
          </div>
        </script></code></pre>
      </section>

      <section>
        <h3>Propiedades computadas: ejemplo</h3>
        <h4>HTML final</h4>
        <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          <div id="example">
            <p>Nombre: Alejandro</p>
            <p>Apellidos: García López</p>
            <p>Nombre completo: Alejandro García López</p>
          </div>
        </script></code></pre>
      </section>
    </section>

    <section>
      <h3>Watchers</h3>
      <p>
        Los watchers permiten observar un dato o propiedad computada de Vue y reaccionar ante un cambio.
      </p>
      <p class="fragment">
        Para ello en la sección <code class="inline-code">watch</code> habrá que crear un método con el mismo nombre del
        dato o propiedad. Esta función
        recibirá el nuevo dato y el dato antiguo.
      </p>
      <p class="fragment">Por norma general considerar propiedades computadas antes que watchers</p>
      <p class="fragment">
        Útil para ejecutar código asíncrono cuando un dato o propiedad ha cambiado.
      </p>
    </section>

    <section>
      <h3>Watchers</h3>
      <p>
        Por ejemplo, en un formulario de registro para comprobar que un nombre de usuario no está usado mientras el
        usuario está escribiendo el
        nombre de usuario para registrarse
      </p>
      <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        watch: {
          username: function(newValue, oldValue) {
            if(newValue !== '') {
              api.isUsernameAvailable(newValue)
              .then(result => doSomething(result))
            }
        },
      </script></code></pre>
    </section>

    <section>
      <h3>Clases y estilos</h3>

      <p>
        Vue permite modificar las clases y estilos del html con los mecanimos que ya hemos visto.
      </p>

      <p>
        Además, ofrece algunas funcionalidades práticas para ello
      </p>
    </section>

    <section>
      <h3>Clases y estilos</h3>

      <p>Clases mediante objetos</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div v-bind:class="{ active: isActive }"></div>

        <div
            class="static"
            v-bind:class="{ active: isActive, 'text-danger': hasError }"
        ></div>
      </script></code></pre>

      <div>
        <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          data: {  // Datos internos
            isActive: true,
            hasError: false
          }
        </script></code></pre>
      </div>

      <p>Resultado</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div class="static active"></div>
      </script></code></pre>
    </section>

    <section>
      <h3>Clases y estilos</h3>

      <p>Clases mediante arrays</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div v-bind:class="[activeClass, errorClass]"></div>
      </script></code></pre>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        data: { // Datos internos
          activeClass: 'active',
          errorClass: 'text-danger'
        }
      </script></code></pre>

      <p>Resultado</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div class="active text-danger"></div>
      </script></code></pre>

    </section>

    <section>
      <h3>Clases y estilos</h3>

      <p>Estilos mediante objetos</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div v-bind:style="styleObject"></div>
      </script></code></pre>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        data: { // Datos internos
          styleObject: {
            color: 'red',
            fontSize: '13px'
          }
        }
      </script></code></pre>

      <p>Resultado</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div style="color: red; font-size: 13px"></div>
      </script></code></pre>

    </section>

    <section>
      <h3>Clases y estilos</h3>

      <p>Los estilos html también permiten la sintaxis de arrays para aplicar múltiples estilos</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div v-bind:style="[baseStyles, overridingStyles]"></div>
      </script></code></pre>
    </section>

    <section>
      <h3>Filtros</h3>

      <p>
        Los filtros se usan para formatear texto en las plantillas o expresions <code class="inline-code">v-bind</code>
      </p>

      <p class="fragment">Los filtros en esencia son funciones que reciben un parámetro y devuelven un texto</p>

      <pre class="html fragment"><code data-trim data-noescape data-line-numbers="1-2|4-5|7-8"><script type="text/template">
        <!-- en plantilla -->
        {{ message | capitalize }}

        <!-- en expresión v-bind -->
        <div v-bind:id="message | capitalize"></div>

        <!-- los filtros se pueden encadenar -->
        <div v-bind:id="message | filterA | filerB"></div>
      </script></code></pre>
    </section>

    <section>
      <h3>Filtros: ejemplo capitalización</h3>

      <p>
        Los filtros se definen en las propiedades del objeto Vue (como los métodos) en la propiedad
        <code class="inline-code">filters</code>
      </p>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        ...
        filters: {
          capitalize: function (value) {
            if (!value) { return '' }
            value = value.toString();
            return value.charAt(0).toUpperCase() + value.slice(1);
          }
        }
        ...
      </script></code></pre>

    </section>

    <section>
      <h3>Componentes</h3>

      <p>Motivación: División y reutilización.</p>

      <ul>
        <li>
          Cada componente contiene su propio objeto Vue
        </li>
        <li>
          La propiedad data tiene que ser una función
        </li>
      </ul>

      <img src="images/components.png" alt="">
    </section>

    <section>
      <h3>Componentes: componente básico</h3>

      <p>Definición de un componente básico</p>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        Vue.component('button-counter', {
          data: function () {
            return {
              count: 0
            }
          },
          template: `
            <button v-on:click="count++">
              You clicked me {{ count }} times.
            </button>
          `
        })
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes: componente básico</h3>

      <p>Uso de un componente básico</p>

      <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="components-demo">
          <button-counter></button-counter>
        </div>
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes: single file components</h3>

      <pre><code data-trim data-line-numbers="1-3|5-14|16-21">
        <template>
          <p>{{ greeting }} World!</p>
        </template>

        <script>
        export default {
            name: 'App',
            data: function() {
                return {
                    greeting: "Hello"
                };
            }
        }
        </script>

        <style scoped>
        p {
            font-size: 2em;
            text-align: center;
        }
        </style>
        </code></pre>
    </section>

    <section>
      <h3>Componentes: Nomenclatura</h3>

      <p>
        El nombre de los componentes (name) debe ser un concepto expresado con 2 o más palabras para evitar colisiones
        con html
      </p>
      <p>
        Si del componente solo existe un elemento se nombrará TheElement. Por ejemplo la header de la aplicación
        podría ser TheHeader
      </p>

    </section>

    <section data-auto-animate>
      <h3>Componentes: data</h3>

      <p>La propiedad data debe ser una función!</p>

      <p>Propiedad data en un objeto vue básico</p>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        data: {
          count: 0
        }
      </script></code></pre>

      <div class="fragment">
        <p>Propiedad data en un componente de vue</p>
        <pre data-id="data-function-component" class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          data: function () {
            return {
              count: 0
            }
          }
        </script></code></pre>
      </div>
    </section>

    <section data-auto-animate>
      <h3>Componentes: data</h3>

      <p>La propiedad data debe ser una función!</p>

      <p>Propiedad data en un objeto vue básico</p>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        data: {
          count: 0
        }
      </script></code></pre>

      <div>
        <p>Propiedad data en un componente de vue (versión corta)</p>
        <pre data-id="data-function-component" class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          data() {
            return {
              count: 0
            }
          }
        </script></code></pre>
      </div>
    </section>

    <section data-auto-animate>
      <h3>Componentes: plantilla</h3>

      <p>Solo puede existir un elemento raíz!</p>

      <div>
        <p>Lo siguiente dará un error!</p>
        <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
          <div class="blog-post">
            <h3>{{ title }}</h3>
            <h4>{{ subtitle }}</h4>
          </div>
        </script></code></pre>
      </div>
    </section>

    <section data-auto-animate>
      <h3>Componentes: estilos</h3>
      <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <style scoped>
        p {
            font-size: 2em;
            text-align: center;
        }
        </style>
      </script></code></pre>

      <p>
        Cada componente constará de unos estilos definidos dentro del tag
      </p>
      <p>
        Con el atributo scope marcaremos que los estilos definidos solo aplican al componente actual.
        Si borramos esta palabra esos estilos se compartirán entre todos los componentes de vue.
      </p>
    </section>

    <section>
      <h3>Componentes: Propiedades y eventos</h3>

      <ul>
        <li>Comunicación entre componentes</li>
        <li class="fragment">
          Propiedades
          <ul>
            <li>Pasar datos a componentes hijos</li>
            <li>Propiedad <code class="inline-code">props</code> </li>
          </ul>
        </li>
        <li class="fragment">
          Eventos
          <ul>
            <li>Pasar datos a componentes padre</li>
            <li>Enviarlos usando el método $emit de vue</li>
            <li>
              Recibirlos en padre con la directiva @
              (o <code class="inline-code">v-on</code>)
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Componentes: Propiedades</h3>

      <p>En la propiedad props pondremos los datos que se establecen desde un componente padre al hijo</p>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        Vue.component('blog-post', {
          props: ['title'],
          template: '<h3>{{ title }}</h3>'
        })
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes: Propiedades</h3>

      <p>El atributo title definido en props en el componente nos permitirá pasar datos al componente hijo</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <blog-post title="Primer blog"></blog-post>
        <blog-post title="Segundo blog"></blog-post>
      </script></code></pre>

      <p>Se puede hacer enlace a una propiedad del componente padre con : (o v-bind) para que se actualice en el hijo
        automáticamente</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <blog-post :title="fatherProperty"></blog-post>
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes: Eventos</h3>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        Vue.component('event-component', {
        template: `
          <div class="component">
            <button @click="$emit('pressed')">
              Botón
            </button>
          </div>
        `
        })
      </script></code></pre>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <event-component  @pressed="processButtonAction"/>
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes: Eventos con datos</h3>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        Vue.component('event-component', {
          template: `
          <div class="component">
              <button @click="$emit('addcounter', 1)">
                Añadir a contador
              </button>
            </div>
          `
        })
      </script></code></pre>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <event-component @addcounter="counter += $event"/>
      </script></code></pre>
    </section>

    <section>
      <h3>Slots (componentes)</h3>

      <p>Es posible pasar contenido a un componente</p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <alert-box>
          Something bad happened.
        </alert-box>
      </script></code></pre>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        Vue.component('alert-box', {
          template: `
            <div class="demo-alert-box">
              <strong>Error!</strong>
              <slot></slot>
            </div>
          `
        })
      </script></code></pre>

      <img src="images/slot.png" alt="">
    </section>

    <section>
      <h3>Componentes y propiedades (avanzado)</h3>

      <p>
        Vue ofrece otra alternativa a la sintaxis <code class="inline-code">props: ['title']</code> que nos permitirá
        validar propiedades en tiempo de desarrollo (mostrará warnings en la consola)
      </p>
      <p>Se podrá indicar:</p>
      <ul>
        <li>
          type: Tipo de dato (<a target="_blank"
                                 href="https://vuejs.org/v2/guide/components-props.html#Type-Checks">Documentación</a>)
        </li>
        <li class="fragment">required: Si el dato es obligatorio u opcional</li>
        <li class="fragment">default: Un valor por defecto (arrays y objetos necesitan pasarse con una función)</li>
        <li class="fragment">validator: Validación (esto solo muestra mensajes en la consola si el valor es incorrecto)</li>
      </ul>

    </section>

    <section>
      <h3>Componentes y propiedades (avanzado)</h3>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        props: {
          property: {
            type: String,
            required: true, // required y default son excluyentes
            // default: 'value',
            validator: function(value) {
              return ['value', 'value2', 'value3'].indexOf(value) !== -1
            }
          }
        }
      </script></code></pre>
    </section>

    <section>
      <h3>Componentes con v-model</h3>

      <p>Es posible crear componentes que se puedan usar con v-model </p>

      <p>Nos permitirá usar v-model sobre un componente como si fuera un input/select/textarea</p>

      <a href="https://vuejs.org/v2/guide/components.html#Using-v-model-on-Components">Referencia</a>
    </section>

    <section>
      <h3>Componentes dinámicos</h3>

      <p>Es posible renderizar un componente de manera dinámica en función de una variable</p>

      <p>Para ello se usa el atributo especial is </p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <!-- Component changes when currentTabComponent changes -->
        <component :is="currentTabComponent"></component>
      </script></code></pre>

      <br>
      <p>Útil para mostrar interfaces con pestañas donde el contenido depende de la pestaña seleccionada </p>
    </section>

    <section>
      <h3>Componentes dinámicos</h3>

      <p>Es posible guardar los datos cuando un componente cambia si usamos el elemento keep-alive</p>
      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <keep-alive>
          <component :is="currentTabComponent"></component>
        <keep-alive>
      </script></code></pre>

      <br>
      <p>Útil para mostrar interfaces con pestañas donde el contenido depende de la pestaña seleccionada </p>
    </section>

    <section>
      <h3>Ciclo de vida de la instancia de Vue</h3>

      <p>
        Cada vez que se instancia un objeto de Vue se ejecutan una serie de métodos en un orden concreto. A medida
        que estos métodos son llamados se va actualizando el html y se unen aquellas partes reactivas
        del html con los datos internos de la instancia.
      </p>

      <a target="_blank" href="https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram">
        Ciclo de vida de Vue en documentación
      </a>
    </section>

    <section>
      <h3>Ciclo de vida de la instancia de Vue</h3>

      <p>
        Por ejemplo, podemos ejecutar código después de que la instancia se haya creado (útil para hacer peticiones
        web al servidor y obtener datos)
      </p>

      <p><b>¡No usar <i>arrow functions</i>!</b></p>
      <pre class="javascript"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        new Vue({
          data: {
            a: 1
          },
          created: function () {
            // `this` points to the vm instance
            console.log('a is: ' + this.a)
          }
        })
      </script></code></pre>
    </section>

    <section>
      <h3>Mixins</h3>

      <p>Los mixins permiten reutilizar código entre distintos componentes</p>

      <pre class="javascript"><code data-trim data-noescape data-line-numbers="1-11|13-16|18"><script type="text/template">
        // definimos el mixin
        var myMixin = {
          created: function () {
            this.hello()
          },
          methods: {
            hello: function () {
              console.log('hello from mixin!')
            }
          }
        }

        // definimos un componente que usa el mixin
        var Component = Vue.extend({
          mixins: [myMixin]
        })

        var component = new Component() // => "hello from mixin!"
      </script></code></pre>

      <p>
        Cuidado con propiedades duplicadas!
      </p>
      <p>
        <a href="https://vuejs.org/v2/guide/mixins.html#Option-Merging">
          Como se mezclan los mixins con el objeto vue
        </a>
      </p>
    </section>

    <section>
      <h3>Animaciones</h3>

      <p>Vue nos proporciona una serie de utilidades para añadir animaciones fácilmente a nuestra aplicación</p>

      <p>
        Nos permitirá añadir clases CSS para animaciones, integrar librerías de animación externas o integrar
        animaciones mediante javascript
      </p>
    </section>

    <section>
      <h3>Animaciones</h3>

      <p>
        Mediante el elemento <code class="inline-code">transition</code> Vue nos permite animar los siguientes elementos:
      </p>

      <ul>
        <li>Elementos condicionales mostrados con <code class="inline-code">v-if</code></li>
        <li>Elementos condicionales mostrados con <code class="inline-code">v-show</code></li>
        <li>Componentes dinámicos</li>
        <li>Nodos raíz del componentes</li>
      </ul>
    </section>

    <section>
      <h3>Animaciones: ejemplo</h3>

      <p>
        Solo un elemento se puede renderizar dentro de <code class="inline-code">transition</code> (nodo único,
        múltiples nodos con v-if, componentes dinámicos...). El elemento transition no se renderiza en el html.
      </p>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <div id="demo">
          <button v-on:click="show = !show">Alternar</button>
          <transition name="fade">
            <p v-if="show">hello</p> <!-- show is defined ind data -->
          </transition>
        </div>
      </script></code></pre>

      <pre class="css"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        .fade-enter-active, .fade-leave-active {
          transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to {
          opacity: 0;
        }
      </script></code></pre>
      </ul>
    </section>

    <section>
      <h3>Animaciones: flujo</h3>

      <img src="images/transition.png" alt="">
    </section>

    <section>
      <h3>Animaciones: modo</h3>

      <p>El elemento transition también nos permitirá indicarle un modo</p>

      <ul>
        <li>Por defecto la transición de entrada y salida se ejecutan al mismo tiempo</li>
        <li>in-out: transición del elemento entrante primero, cuando se completa se ejecuta la transición de salida</li>
        <li>out-in: transición de salida primero, cuando se completa se ejecuta la transición de entrada</li>
      </ul>

      <pre class="html"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        <transition mode="out-in">
        </transition>
      </script></code></pre>
    </section>

    <section>
      <h3>Animaciones: múltiples elementos</h3>

      <p>
        Mediante el uso de <code class="inline-code">transition-group</code> podremos animar múltiples elementos
        (<code class="inline-code">v-for</code>)
      </p>

      <ul>
        <li class="no-bullet"><p>Diferencias con transition:</p></li>
        <li>
          El elemento transition-group renderiza un tag en el html (por defecto span, pero se puede cambiar)
          que agrupa los elementos a animar
        </li>
        <li>
          Los modos de transición (<code class="inline-code">in-out</code>, <code class="inline-code">out-in</code>)
          no están disponibles
        </li>
        <li>Los elemento necesita una key única</li>
        <li>Las clases de animación se aplican a los elementos internos no al tag que los agrupa</li>
      </ul>
    </section>

    <section>
      <h3>Estructura de un proyecto: raíz</h3>

      <pre class="txt"><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        ├── package.json
        ├── .env
        ├── .gitignore
        ├── public
        │   └── index.html
        └── src
            └── ...
      </script></code></pre>

      <p>
        <a target="_blank" href="https://cli.vuejs.org/guide/mode-and-env.html#modes-and-environment-variables">
          Documentación sobre environments
        </a>
      </p>
    </section>

    <section>
      <h3>Estructura de un proyecto: src</h3>

      <pre><code data-trim data-noescape data-line-numbers=""><script type="text/template">
        ├── App.vue
        ├── main.js
        ├── api
        │   └── ...
        ├── components
        │   └── ...
        ├── views
        │   └── ...
        ├── router
        │   └── ...
        ├── store
        └── ...
      </script></code></pre>
    </section>

    <section>
      <h3>Documentación</h3>

      <p>Guía básica -> <a href="https://vuejs.org/v2/guide/">https://vuejs.org/v2/guide/</a></p>
      <p>API de Vue -> <a href="https://vuejs.org/v2/api/">https://vuejs.org/v2/api/</a></p>
      <p>Guía de estilos -> <a href="https://vuejs.org/v2/style-guide/">https://vuejs.org/v2/style-guide/</a></p>
      <p>Guía de componentes ->
        <a href="https://vuejs.org/v2/style-guide/#Component-instance-options-order-recommended">
          https://vuejs.org/v2/style-guide/#Component-instance-options-order-recommended
        </a>
      </p>
      <p>Guía de directivas ->
        <a href="https://vuejs.org/v2/style-guide/#v-if-v-else-if-v-else-without-key-use-with-caution">
          https://vuejs.org/v2/style-guide/#v-if-v-else-if-v-else-without-key-use-with-caution
        </a>
      </p>
      <p>
        Cheatsheet ->
        <a href="https://marozed.com/vue-cheatsheet">https://marozed.com/vue-cheatsheet</a>
      </p>
    </section>

  </div>
</div>

<script src="dist/reveal.js"></script>
<script src="plugin/notes/notes.js"></script>
<script src="plugin/markdown/markdown.js"></script>
<script src="plugin/highlight/highlight.js"></script>
<script src="plugin/search/search.js"></script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    Reveal.initialize({
        hash: true,
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealSearch]
    });
</script>
</body>
</html>
